@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .menu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .formulario {
    font-size: small;
    margin-top: 60px;
    padding: 10px;
    width: 400px;
    height: 500px;
    background-image: linear-gradient(
      to top,
      rgba(53, 8, 136, 0.95),
      rgba(92, 61, 153, 0.95),
      rgba(16, 3, 39, 0.95)
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 15px;
  }
  
  .titulo {
    font-family: 'Silkscreen';
    text-shadow: 2px 2px 3px white;
    color: rgb(202, 58, 183);
    font-size: 50px;
    margin: 10px;
  }
  
  #selecao {
    background-color: rgba(0, 0, 0, 0.24);
    color: rgb(202, 58, 183);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-family: "Changa";
    margin: 30px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
  }
  
  #passo {
    background-color: rgba(0, 0, 0, 0.24);
    color: rgb(202, 58, 183);
    font-family: "Changa";
    display: none;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 5px;
  }
  .mensagemRecebida64 {
    color: rgb(82, 100, 255);
    background-color: rgba(0, 0, 0, 0.300);
    font-family: "Changa";
    padding: 15px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
  
  .mensagemRecebidaCesar {
    color: rgb(82, 100, 255);
    background-color: rgba(0, 0, 0, 0.300);
    font-family: "Changa";
    display: none;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
  }
  
  #resultado64 {
    color: rgb(255, 19, 224);
    background-color: rgba(0, 0, 0, 0.300);
    font-size: 100%;
    padding: 20px;
    margin: 15px 0px;
    border-radius: 5px;
    text-align: center;
  }
  
  #resultadoCesar {
    color: rgb(202, 58, 183);
    background-color: rgba(0, 0, 0, 0.300);
    font-size: 100%;
    padding: 20px;
    display: none;
    margin: 15px 0;
    border-radius: 10px;
    text-align: center;
  }
  
  #mensagens {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
  }
  
  .rodape {
    background: rgb(53, 8, 136);
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
  }
  .link {
    color: rgb(202, 58, 183);
    font-size: large;
  }
  .botao {
    font-family: "Changa";
    color: rgb(202, 58, 183);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
  }
  @media only screen and (max-width: 801px) {
    .formulario {
      width: 350px;
      height: 450px;
    }
    .titulo {
      font-size: 200%;
    }
    .mensagemRecebida64 {
      width: 100%;
    }
   .mensagemRecebidaCesar {
    width: 100%;
    }
    #resultadoCesar {
      width: 100%;
      height: 70%;
    }
    #resultado64 {
      width: 100%;
      height: 70%;
    }
    #passo {
      font-size: 70%;
      width: 80%;
      margin-top: -15px;
    }
    #selecao {
      width: 80%;
      height: 30px;
      font-size: 80%;
      margin-bottom: px;
    }
  @media only screen and (max-width: 501px) {
    .formulario {
      width: 300px;
      height: 450px;
    }
    .titulo {
      font-size: 180%;
    }
    .mensagemRecebida64 {
      width: 100%;
    }
   .mensagemRecebidaCesar {
    width: 100%;
    }
    #selecao {
      width: 80%;
      font-size: 80%;
    }
    #passo {
      width: 70%;
      margin-top: -15px;
    }
  }
}
